{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Coffee Cart</title>
    <link href="{% static 'cart/bootstrap.css' %}" rel="stylesheet"> 
    <link href="{% static 'cart/bootstrap.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'cart/bootstrap-grid.css' %}" rel="stylesheet"> 
    <link href="{% static 'cart/bootstrap-grid.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'cart/bootstrap-reboot.css' %}" rel="stylesheet">
    <link href="{% static 'cart/style.css' %}" rel="stylesheet"> 
   
</head>
<body>
	<header>
		<h1 id='main_header'>Coffee Cart Application</h1>
	</header>

	<div align="center">
	    <div id = "content" class="col-md-5 border border-dark">
	    	{% static "" as baseUrl %}
	        <h3><img id="img" src="{{ baseUrl }}/{{url}}"></h3>
	        <hr>
	    	{% for item in items_list %}
	    	<div class="border border-dark items">
		        <ul>
			        <li><b>{{ item.name }}</b></li>
			        <li>Ingredients: {{ item.ingredients }}</li>
			        <li>Recommended Snacks: {{ item.recommendations }}</li>
			    </ul>
		    </div>
			{% endfor %}

			<div align="right">
	    		<a href="{% url 'index' %}" class="btn btn-primary">Back to Menu</a>
	    	</div>

	    </div>
    </div>

    <footer id="main-footer">
	    <p>Copyright &copy; 2018 Morales</p>
	</footer>

</body>
</html>